[Unit]
Description=Rapidgator Proxy API
After=network.target

[Service]
Type=notify
User=www-data
WorkingDirectory=/opt/rg-proxy
ExecStart=/usr/bin/dotnet /opt/rg-proxy/RapidgatorProxy.Api.dll
Restart=always
RestartSec=10
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://127.0.0.1:5050

[Install]
WantedBy=multi-user.target
